[user]
	name = Roxie Gibson
	email = me@roxxers.xyz
	signingKey = 49B0A560F2C05D0A4460B6935D0140EDEE123F4D
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX

[merge]
        tool = vscode
[mergetool "vscode"]
        cmd = code --wait $MERGED

[include]
	path = /home/roxie/.config/git/aliases

[commit]
	gpgsign = true
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = true
[init]
	templateDir = /home/roxie/.config/git/template
